.toc .views-row {
  display: flex; }
  .toc .views-row .views-field-field-weight {
    display: flex;
    padding-right: .4em; }
    .toc .views-row .views-field-field-weight .field-content {
      padding-right: .4em; }
    .toc .views-row .views-field-field-weight:after {
      content: " - "; }
