.Card,
.OurTeam .Profile,
.Teaser {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 3px 0px var(--wco-light-text-color);
  background: var(--wco-light-bg-color);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  .Card h2,
  .OurTeam .Profile h2,
  .Teaser h2 {
    word-break: auto-phrase; }
  .Card .field--name-field-image-thumb,
  .OurTeam .Profile .field--name-field-image-thumb,
  .Teaser .field--name-field-image-thumb {
    display: flex;
    justify-content: center; }
    .Card .field--name-field-image-thumb img,
    .OurTeam .Profile .field--name-field-image-thumb img,
    .Teaser .field--name-field-image-thumb img {
      max-width: 200px;
      height: auto; }

.Teaser {
  align-items: flex-start; }
