.a20231211-consulting-pricing th a {
  color: white; }

.a20231211-consulting-pricing .pricing {
  margin: 40px 0px; }

.a20231211-consulting-pricing .pricing .table {
  border-top: 1px solid #ddd;
  background: #fff; }

.a20231211-consulting-pricing .pricing .table th,
.a20231211-consulting-pricing .pricing .table {
  text-align: center; }

.a20231211-consulting-pricing .pricing .table th,
.a20231211-consulting-pricing .pricing .table td {
  padding: 20px 10px;
  border: 1px solid #ddd;
  border: 1px solid rgba(255, 255, 255, 0.1); }

.a20231211-consulting-pricing .pricing .table th {
  /* width: 25%; */
  font-size: 30px;
  font-weight: 400;
  border-bottom: 0;
  background: #2F313A;
  color: #EBEDF3;
  /* text-transform: uppercase; */ }

.a20231211-consulting-pricing .pricing .table th.highlight {
  border-top: 4px solid #4caf50 !important; }

.a20231211-consulting-pricing .pricing .table tr:nth-child(odd) {
  background: #f0f8ff; }

.a20231211-consulting-pricing .pricing .table td:first-child {
  padding-left: 20px;
  text-align: left;
  padding-top: 35px;
  background: #5F97FB; }

.a20231211-consulting-pricing .pricing tr td .ptable-title {
  font-size: 22px;
  font-weight: 400;
  color: #fff; }

.a20231211-consulting-pricing .pricing tr td .ptable-title i {
  width: 23px;
  line-height: 25px;
  text-align: right;
  margin-right: 5px; }

.a20231211-consulting-pricing .pricing .ptable-star {
  position: relative;
  display: block;
  text-align: center; }

.a20231211-consulting-pricing .pricing .ptable-star.red {
  color: #e91e63; }

.a20231211-consulting-pricing .pricing .ptable-star.green {
  color: #4caf50; }

.a20231211-consulting-pricing .pricing .ptable-star.lblue {
  color: #03a9f4; }

.a20231211-consulting-pricing .pricing .ptable-star i {
  width: 8px;
  font-size: 13px; }

.a20231211-consulting-pricing .pricing .ptable-price {
  display: block; }

.a20231211-consulting-pricing .pricing tr td {
  font-size: 16px;
  line-height: 32px;
  /* text-transform:uppercase; */ }

.a20231211-consulting-pricing .pricing tr td.bg-red {
  background: #e91e63; }

.a20231211-consulting-pricing .pricing tr td.bg-green {
  background: #4caf50; }

.a20231211-consulting-pricing .pricing tr td.bg-lblue {
  background: #03a9f4; }

.a20231211-consulting-pricing .pricing tr td.bg-red a,
.a20231211-consulting-pricing .pricing tr td.bg-green a,
.a20231211-consulting-pricing .pricing tr td.bg-lblue a {
  color: #fff; }

.a20231211-consulting-pricing .pricing tr td i {
  display: block;
  margin-bottom: 12px;
  font-size: 30px; }

.a20231211-consulting-pricing .pricing tr td i.red {
  color: #e91e63; }

.a20231211-consulting-pricing .pricing tr td i.green {
  color: #4caf50; }

.a20231211-consulting-pricing .pricing tr td i.lblue {
  color: #03a9f4; }

.a20231211-consulting-pricing .pricing tr td:first-child i {
  display: inline;
  margin-bottom: 0px;
  font-size: 22px; }
