.node-contributed-post-form {
  margin: 1em; }

.form-checkboxes {
  display: flex;
  flex-wrap: wrap; }
  .form-checkboxes .form-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1em;
    padding: 0.5em; }
