.a20231211-consulting-pricing th a {
  color: white; }

.a20231211-consulting-pricing .pricing {
  margin: 40px 0px; }

.a20231211-consulting-pricing .pricing .table {
  border-top: 1px solid #ddd;
  background: #fff; }

.a20231211-consulting-pricing .pricing .table th,
.a20231211-consulting-pricing .pricing .table {
  text-align: center; }

.a20231211-consulting-pricing .pricing .table th,
.a20231211-consulting-pricing .pricing .table td {
  padding: 20px 10px;
  border: 1px solid #ddd;
  border: 1px solid rgba(255, 255, 255, 0.1); }

.a20231211-consulting-pricing .pricing .table th {
  /* width: 25%; */
  font-size: 30px;
  font-weight: 400;
  border-bottom: 0;
  background: #2F313A;
  color: #EBEDF3;
  /* text-transform: uppercase; */ }

.a20231211-consulting-pricing .pricing .table th.highlight {
  border-top: 4px solid #4caf50 !important; }

.a20231211-consulting-pricing .pricing .table tr:nth-child(odd) {
  background: #f0f8ff; }

.a20231211-consulting-pricing .pricing .table td:first-child {
  padding-left: 20px;
  text-align: left;
  padding-top: 35px;
  background: #5F97FB; }

.a20231211-consulting-pricing .pricing tr td .ptable-title {
  font-size: 22px;
  font-weight: 400;
  color: #fff; }

.a20231211-consulting-pricing .pricing tr td .ptable-title i {
  width: 23px;
  line-height: 25px;
  text-align: right;
  margin-right: 5px; }

.a20231211-consulting-pricing .pricing .ptable-star {
  position: relative;
  display: block;
  text-align: center; }

.a20231211-consulting-pricing .pricing .ptable-star.red {
  color: #e91e63; }

.a20231211-consulting-pricing .pricing .ptable-star.green {
  color: #4caf50; }

.a20231211-consulting-pricing .pricing .ptable-star.lblue {
  color: #03a9f4; }

.a20231211-consulting-pricing .pricing .ptable-star i {
  width: 8px;
  font-size: 13px; }

.a20231211-consulting-pricing .pricing .ptable-price {
  display: block; }

.a20231211-consulting-pricing .pricing tr td {
  font-size: 16px;
  line-height: 32px;
  /* text-transform:uppercase; */ }

.a20231211-consulting-pricing .pricing tr td.bg-red {
  background: #e91e63; }

.a20231211-consulting-pricing .pricing tr td.bg-green {
  background: #4caf50; }

.a20231211-consulting-pricing .pricing tr td.bg-lblue {
  background: #03a9f4; }

.a20231211-consulting-pricing .pricing tr td.bg-red a,
.a20231211-consulting-pricing .pricing tr td.bg-green a,
.a20231211-consulting-pricing .pricing tr td.bg-lblue a {
  color: #fff; }

.a20231211-consulting-pricing .pricing tr td i {
  display: block;
  margin-bottom: 12px;
  font-size: 30px; }

.a20231211-consulting-pricing .pricing tr td i.red {
  color: #e91e63; }

.a20231211-consulting-pricing .pricing tr td i.green {
  color: #4caf50; }

.a20231211-consulting-pricing .pricing tr td i.lblue {
  color: #03a9f4; }

.a20231211-consulting-pricing .pricing tr td:first-child i {
  display: inline;
  margin-bottom: 0px;
  font-size: 22px; }

/* See also Card.scss in ish_drupal_theme */
/* 2023 */
.Card3dlike {
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  position: relative;
  margin-bottom: 1em;
  padding: 4em calc(25% - 1.5em) 1em 1em;
  width: 75%;
  height: 40vh;
  min-height: 400px;
  display: flex;
  flex-direction: column; }

.Card3dlike .img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  width: 60%;
  height: 40%;
  position: absolute;
  top: 4em;
  left: 75%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }

/* 2024-03-25 */
.card3dlike2 .CardThemed {
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  position: relative;
  margin-bottom: 1em;
  padding: 4em calc(25% - 1.5em) 1em 1em;
  width: 75%;
  height: 40vh;
  min-height: 400px;
  display: flex;
  flex-direction: column; }

.card3dlike2 .CardThemed .imgW {
  flex-grow: 1; }

.card3dlike2 .CardThemed .img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 60%;
  height: 40%;
  position: absolute;
  top: 4em;
  right: -50px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }

hr {
  border: 1px solid green; }

.layout--onecol {
  width: 100%; }

/* f6ebda */
#p1 {
  --wco-20230212-bg2:  url('https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/11/16193623/512x512-tree-w-f6ebda-bg-tiny.png');
  background: var(--wco-20230212-bg2) center center;
  background-color: #f6ebda;
  background-size: 300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

#p1 h1 {
  font-size: 1.8em;
  max-width: 95vw;
  display: inline;
  margin-bottom: 20vh;
  background: #f6ebda;
  padding: 0.2em 1em;
  transform: skew(-12deg) rotate(-14deg); }

#p6 .rows,
#p7 .row {
  max-width: 95vw; }

/* A href links */
a {
  cursor: pointer;
  color: var(--wco-dol-link-color);
  text-underline-offset: 3px;
  text-decoration: none; }

.region-footer a {
  background: var(--wco-dol-bg-color);
  padding: 2px; }

a:hover {
  color: var(--global--color-primary-hover);
  text-decoration: underline;
  text-decoration-style: dotted; }

a:focus {
  color: var(--global--color-secondary); }

a:active {
  color: var(--global--color-primary); }

.region-headerW {
  border-bottom: 2px solid orange; }

.region-content {
  padding-bottom: 2em; }

.region-footer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f6ebda;
  background-image: url("//d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/09/26221214/1800x350-futuciti-1-lighter-tiny.png");
  background-attachment: fixed;
  background-size: 1800px; }

.region-footer .block.block-language {
  border: 0; }

.region-footer .search-block-form {
  margin: 1em 0; }

.region-footer #search-block-form {
  border: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.layout-postfooter {
  background-color: #908e8a;
  /* gray */
  background-color: #bab4ab;
  /* lighter gray */ }

html,
.layout-content {
  background-color: var(--wco-dol-bg-color); }

/* C */
/* captcha */
.captcha__element > .reload-captcha-wrapper {
  display: none; }

/* Fields */
/* title */
.page-title .field--name-title {
  text-align: center;
  margin: 1em 0; }

article.node--view-mode-full-mini .field--name-title {
  margin-top: 1.6em;
  margin-bottom: 1em;
  padding-top: 0.4em;
  padding-left: 1em;
  border-top: 3px dashed gray; }

/* E */
/* errors */
body:not(.user-logged-in) .messages--error {
  display: none; }

/* H */
.Hero {
  height: 400px;
  background-position: center center;
  background-size: fit;
  background-repeat: no-repeat;
  background-image: url("https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2024/03/26124919/1024x400-another-number-theory.jpg"); }

/* L */
/* N */
.navigation,
.links {
  color: var(--global--color-primary); }

.navigation .svg-icon,
.links .svg-icon {
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
  position: relative; }

/* R */
.block-views-blockruby-on-rails-articles-block-1 {
  padding: 1em; }

.block-views-blockruby-on-rails-articles-block-1 .view-ruby-on-rails-articles {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.block-views-blockruby-on-rails-articles-block-1 .view-ruby-on-rails-articles .view-content {
  display: flex;
  flex-direction: column; }

.block-views-blockruby-on-rails-articles-block-1 .view-ruby-on-rails-articles .view-content .views-field-title {
  margin-left: 2em;
  margin-bottom: 1em; }

/* S */
.site-slogan {
  text-align: center;
  margin-top: -1.1em;
  margin-bottom: 1em; }

ul.social-links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; }

ul.social-links li a {
  padding-left: 0.8em; }

ul.social-links li a span {
  display: none; }

.view-id-2023q4_our_services {
  border-top: 1px solid var(--wco-202302-color1);
  padding-top: 2em;
  margin-bottom: 3em; }

.view-id-2023q4_our_services .header {
  text-align: center;
  margin-bottom: 2em; }

.view-id-2023q4_our_services .header h2.title {
  font-family: lobster, cursive; }

@media screen and (min-width: 768px) {
  /* desktops */
  .view-id-2023q4_our_services .view-content {
    display: flex; } }

h2.wco-border-bottom {
  border-bottom: 2px solid #999; }

.cursive {
  font-size: 1.6em;
  font-family: cursive;
  color: #999; }

.our-services-explore-2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.our-services-explore-2 .description {
  text-align: right;
  margin-right: 1em; }

.our-services-explore-2 .col {
  display: flex;
  flex-direction: column; }

.our-services-explore-2 img {
  margin-bottom: 1em; }

.our-services-explore-2 .description {
  margin-right: 0; }

/* T */
/* W */
.a20231120-our-corporate-culture img {
  max-width: 100%; }

.a20231120-our-corporate-culture .pW {
  height: 100%;
  display: flex;
  align-items: center; }

.a20231120-our-corporate-culture .row {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1em; }

.block-views-blockissue-2024q1-newsfeed-block-1 {
  border-top: 1px solid var(--wco-202302-color1);
  padding-top: 2em;
  margin-bottom: 3em; }

.block-views-blockissue-2024q1-newsfeed-block-1 footer {
  margin-left: 1em;
  margin-bottom: 1em; }

.block-views-blockissue-2024q1-newsfeed-block-1 h2 {
  font-size: 1em; }

.block-views-blockissue-2024q1-newsfeed-block-1 > h2 {
  font-family: lobster, cursive;
  font-size: 32px; }

.block-block-content3069bbe0-287b-4d88-8759-21105635cf2c {
  margin-bottom: 200px;
  text-align: center;
  color: #666; }

.block-block-content3069bbe0-287b-4d88-8759-21105635cf2c h2 {
  font-family: 'lobster', cursive;
  transform: skew(-12deg) rotate(-14deg);
  text-shadow: -2px 2px white; }

.block-block-content3069bbe0-287b-4d88-8759-21105635cf2c h2:after {
  content: "Est. 2013";
  font-family: sans-serif;
  display: block;
  font-size: 0.6em; }
