.why_choose_us .row {
  justify-content: space-between; }
  .why_choose_us .row .col-md-6:first-child {
    display: flex;
    align-items: center;
    width: 40%; }
  .why_choose_us .row .col-md-6:last-child {
    width: 58%; }

.why_choose_us .diff-content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .why_choose_us .diff-content-wrapper .dots {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -42%);
    z-index: -1; }
  .why_choose_us .diff-content-wrapper .row .col-sm-6 {
    width: unset; }
  .why_choose_us .diff-content-wrapper .row:first-child {
    flex-direction: column; }
    .why_choose_us .diff-content-wrapper .row:first-child .col-sm-6:first-child {
      margin-bottom: 32px; }
  .why_choose_us .diff-content-wrapper .icon-content {
    padding: 36px 20px;
    text-align: center;
    box-shadow: 0px 2px 16px #00000044;
    margin: 0px 15px;
    background: white; }
    .why_choose_us .diff-content-wrapper .icon-content h5 {
      margin-bottom: 23px; }
  .why_choose_us .diff-content-wrapper .svg-wrapper {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #effaf4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 18px; }
    .why_choose_us .diff-content-wrapper .svg-wrapper svg {
      width: 25px;
      height: 25px; }
      .why_choose_us .diff-content-wrapper .svg-wrapper svg path {
        fill: var(--bs-primary); }
