

.a20240801-carousel-trees {
  // background: #999;
  height: 512px;

  .carousel-control-prev-icon {
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    filter: invert(100%);
   }

   .carousel-control-next-icon {
    //  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    filter: invert(100%);
   }
   .carousel-indicators {
     filter: invert(100%);
   }


  img {
    // width: 300px;
  }

  .carousel-inner {
    height: 100%;

    .carousel-item {
      height: 100%;

      .itemC {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }



    }
  }
}


