
.cart.cart-form::before {
  content: "Cart";

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;
  font-size: 3rem;
  font-weight: 700;

  margin: 0.5em auto 0.5em auto;
}

.cart-empty-page {
  // display: flex;

  margin: 1em auto;
}
