
.a20231211-consulting-pricing {
  th a {
    color: white;
  }

  .pricing{
    margin: 40px 0px;
  }
  .pricing .table{
    border-top:1px solid #ddd;
    background:#fff;
  }
  .pricing .table th,
  .pricing .table {
    text-align: center;
  }
  .pricing .table th,
  .pricing .table td {
    padding: 20px 10px;
    border:1px solid #ddd;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .pricing .table th {
    /* width: 25%; */
    font-size: 30px;
    font-weight: 400;
    border-bottom: 0;
    background:#2F313A;
    color: #EBEDF3;
    /* text-transform: uppercase; */
  }
  .pricing .table th.highlight{
    border-top: 4px solid #4caf50 !important;
  }
  .pricing .table tr:nth-child(odd){
    background: #f0f8ff;
  }
  .pricing .table td:first-child{
    padding-left: 20px;
    text-align: left;
    padding-top:35px;
    background: #5F97FB;
  }
  .pricing tr td .ptable-title {
    font-size: 22px;
    font-weight:400;
    color: #fff;
  }
  .pricing tr td .ptable-title i {
    width: 23px;
    line-height: 25px;
    text-align: right;
    margin-right: 5px;
  }
  .pricing .ptable-star {
    position: relative;
    display: block;
    text-align: center;
  }
  .pricing .ptable-star.red{
    color: #e91e63;
  }
  .pricing .ptable-star.green{
    color: #4caf50;
  }
  .pricing .ptable-star.lblue{
    color: #03a9f4;
  }
  .pricing .ptable-star i {
    width: 8px;
    font-size: 13px;
  }
  .pricing .ptable-price {
    display: block;
  }
  .pricing tr td {
    font-size: 16px;
    line-height:32px;
    /* text-transform:uppercase; */
  }
  .pricing tr td.bg-red{
    background: #e91e63;
  }
  .pricing tr td.bg-green{
    background: #4caf50;
  }
  .pricing tr td.bg-lblue{
    background: #03a9f4;
  }
  .pricing tr td.bg-red a,
  .pricing tr td.bg-green a,
  .pricing tr td.bg-lblue a{
    color: #fff;
  }
  .pricing tr td i {
    display: block;
    margin-bottom: 12px;
    font-size: 30px;
  }
  .pricing tr td i.red{
    color: #e91e63;
  }
  .pricing tr td i.green{
    color: #4caf50;
  }
  .pricing tr td i.lblue{
    color: #03a9f4;
  }
  .pricing tr td:first-child i{
    display:inline;
    margin-bottom:0px;
    font-size:22px;
  }
}
