


/* IssuesNavigator */
.block-inline-blockissues-navigator {
  margin: 10px 0 1em 0;

  h2 {
    font-size: 1em;
    margin: 0;
  }

  .current-issue {
    text-align: right;
  }
  nav.menu--issues {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;

    h2:after {
      content: ":";
    }
  }

  ul.menu {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    li {
      padding: 0 10px;
      border-right: 2px solid orange;
    }
  }
}
