
.field--type-text-with-summary {
  /* Originally, for `Infinite Business Plan - Download` */
  // height: 100%; /* interfered with Teasers and Cards on homepage of piousbox_com, when field is empty */
}


.ish-layout {
  .block-layout-builder {

    /* Originally, for `Infinite Business Plan - Download` */
    height: 100%;

  }
}

.layout-content {
  width: 100%;
}

.layout__region--first,
.layout__region--second {
  width: 50%;
}
.layout--twocol-section {
  display: flex;
}

.node--type-advanced-page {
  > .node__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
