
.current_user_block {
  a {
    white-space: nowrap;
  }
}


form.user-login-form {
  .description {
    display: none;
  }
}

.form-type-email {
  display: flex;
}
.form-type-password {
  display: flex;
}
