{#
  2023Q4 what people are saying
#}
<section id="p7" class="testimonials">
    <div class="maxwidth">
      <div class="header">
        <h2 class="title center lobster border-bottom" style="color: #aaa;">What People are Saying</h2>
      </div>
      <div class="fancy-border"></div>

      <div class="row">
        <div class="col-md-4 testimonial">
          <div class="message">
            They built the application quickly for me and according to spec. Great communication, great service.
          </div>
          <div class="signature">
            <div class="name">Stephen Kim</div>
            <div class="subname">Business Owner</div>
          </div>
        </div>

        <div class="col-md-4 testimonial">
          <div class="message">
            Wasya Co provided the necessary technical guidance for the team to succeed, in tight deadlines. Victor was a pleasure to work with.
          </div>
          <div class="signature">
            <div class="name">Operaevent</div>
            <div class="subname">Bay Area startup</div>
          </div>
        </div>

        <div class="col-md-4 testimonial">
          <div class="message">
            Wasya Co delivered a great-looking mobile site, just what we wanted.
          </div>
          <div class="signature">
            <div class="name">Marchesi Design</div>
            <div class="subname">Furniture Store</div>
          </div>
        </div>
      </div>

    </div>
  </section>
