<div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ app / mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Evaluation instances</li>
              {# <li>Shared hosting</li> #}
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <a href="https://app.wasyaco.com">
              <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
            </a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$400 <small class="text-muted">/ app / mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Production-grade instances</li>
              <li>Daily Backups</li>
              <li>Shared hosting</li>
            </ul>
            <a href="https://app.wasyaco.com">
              <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">Contact Us</small>&nbsp;</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Dedicated hosting</li>
              <li>Priority Support</li>
              <li>Customizations</li>
            </ul>
            <a href="/contact-us">
              <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
            </a>
          </div>
        </div>
      </div>

    </div>
