
{#
  Wasya Co now accepts Donations
#}

<h2 class='cursive wco-border-bottom'>
  Wasya Co now accepts Donations
</h2>
<p>
    Wasya Co accepts non-biding, bipartisan (non-political) donations. If you are interested in supporting our cause and efforts, please use one of the below methods to donate any amount.
</p>
<p>
    <a href="https://www.paypal.com/donate/?hosted_button_id=CBDQ7CTTCBVJS" target="_blank"><button class="button-91">Donate via Paypal</button>&nbsp;</a>
</p>
