{#
  /consulting/pricing
  2023-12-11
  From: https://ordinarycoders.com/blog/article/bootstrap-pricing-table-example
#}

<div class="a20231211-consulting-pricing fullwidth">
  <div class="container pricing">
    <div class="pricing-table table-responsive">
      <table class="table">
        <!-- Heading -->
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>
              On-demand
            </th>
            <th class="highlight">
              10 hr/wk <a href="/pages/sla" target="_blank">SLA*</a>
            </th>
            <th>
              40 hr/wk <a href="/pages/sla" target="_blank">SLA*</a>
            </th>
            <th>
              Per-project
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="ptable-title"><i class="fa fa-hdd-o"></i> On-shore</span></td>
            <td>
              <i class="fa fa-hdd-o red"></i>
              <span class="ptable-price">$120/hr</span>
            </td>
            <td>
              <i class="fa fa-hdd-o green"></i>
              <span class="ptable-price">$115/hr</span>
            </td>
            <td>
              <i class="fa fa-hdd-o lblue"></i>
              <span class="ptable-price">$95/hr</span>
            </td>
            <td>
              <i class="fa fa-hdd-o lblue"></i>
              <span class="ptable-price"><a href="/contact-us">Contact Us</a></span>
            </td>
          </tr>
          <tr>
            <td><span class="ptable-title"><i class="fa fa-signal"></i> Off-shore</span></td>
            <td>
              <i class="fa fa-signal red"></i>
              <span class="ptable-price">$80/hr</span>
            </td>
            <td>
              <i class="fa fa-signal green"></i>
              <span class="ptable-price">$65/hr</span>
            </td>
            <td>
              <i class="fa fa-signal lblue"></i>
              <span class="ptable-price">$40/hr</span>
            </td>
            <td>
              <i class="fa fa-hdd-o lblue"></i>
              <span class="ptable-price"><a href="/contact-us">Contact Us</a></span>
            </td>
          </tr>
          <!-- <tr>
            <td><span class="ptable-title"><i class="fa fa-shield"></i> Security</span></td>
            <td>
              <i class="fa fa-shield red"></i>
              100% Secure
            </td>
            <td>
              <i class="fa fa-shield green"></i>
              100% Secure
            </td>
            <td>
              <i class="fa fa-shield lblue"></i>
              100% Secure
            </td>
            <td>
              <i class="fa fa-shield lblue"></i>
              100% Secure
            </td>
          </tr> -->
          <!-- <tr>
            <td><span class="ptable-title"><i class="fa fa-headphones"></i> Response Time</span></td>
            <td>
              <i class="fa fa-times red"></i>
              4 hours
            </td>
            <td>
              <i class="fa fa-phone green"></i>
              4 hours
            </td>
            <td>
              <i class="fa fa-envelope-o lblue"></i>
              4 hours
            </td>
            <td>
              <i class="fa fa-envelope-o lblue"></i>
              4 hours
            </td>
          </tr> -->
          <!-- Buttons -->
          <!-- <tr>
            <td>&nbsp;</td>
            <td class="bg-red"><a class="btn" href="#">Sign Up</a></td>
            <td class="bg-green"><a class="btn" href="#">Sign Up</a></td>
            <td class="bg-lblue"><a class="btn" href="#">Contact Us</a></td>
            <td class="bg-lblue"><a class="btn" href="#">Contact Us</a></td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
