{#
  2023Q4 Hero
#}
<section id="p1" class="hero">
  <h1 class="lobster">Innovative solutions for your digital success</h1>
</section>
<section id="p2" class="about-us">
  <div class="maxwidth">
    <div class="header center">
      <h2 class="title lobster">WasyaCo</h2>
      <h3 class="subtitle">- Est. 2013 -</h3>
    </div>
    <div class="fancy-border"></div>

    {# <p>At Wasya Co, we understand the challenges that come with developing and maintaining software in today's fast-paced and constantly evolving technological landscape. That's why we offer a comprehensive range of services to help you navigate these challenges and stay ahead of the curve.</p> #}

    {# <p>Our focus is always on delivering value to our clients, and we pride ourselves in our ability to work collaboratively and transparently with our clients throughout the development process.</p> #}

    {# <p>If you're looking for a trusted partner to help you achieve your digital goals, look no further than Wasya Co. We're committed to providing you with the innovative solutions you need to succeed in today's digital world.</p> #}

    {{ content }}
  </div>
</section>
