
<ul class="menu social-links">
  <li class="menu-item linkedin">
    <a href="https://www.linkedin.com/company/wasya-co">
      <span>LinkedIn</span>
      <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/09/26215019/52x52-linkedin-tiny.png" alt='Wasya Co LinkedIn' />
    </a>
  </li>
  <li class="menu-item youtube">
    <a href="https://www.youtube.com/@wasyaco">
      <span>Youtube</span>
      <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/09/26215020/52x52-youtube-tiny.png" alt='Wasya Co Youtube' />
    </a>
  </li>
</ul>
