
<article id='a20230210ourProcess' >
  <header class='title'>
    <div class='max-width'>
      <h1>Our Process</h1>
    </div>
  </header>

  <section id='p1' >
    <div class='max-width'>
      <div class='description'>
        <p>Whether it is a simple landing page or a complex real-time telecommunications system. Whether it is a big project or small, the goal of software development is to produce & release a product, that answers a business need.</p>
        <p>The requirements for successful software systems are both specific and general. They are specific because each software system should be optimized for the needs it addresses.</p>
        <p>They are general in that every software system should be future-proof, maintainable, and conforming to universally reasonable principles, such as high value-to-cost ratio, and resilience against attacks and obsolescence.</p>
      </div>
      <div class='illustration'>
      </div>
    </div>
  </section>
  <div class='divider'></div>
  <section id='p2' >
    <div class='max-width'>
      <div class='description'>
        <p>We embrace iterative development methodology. We value a tight communication loop between stake holders, developers, and the end users. Our approach allows us to improve both the software quality and the time it takes to deliver it to market.</p>
        <p>An overview of the project establishes the requirements, specifications, deliverables, the budget and deadlines.</p>
      </div>
      <div class='illustration'>
        <div class='illustrationC'></div>
      </div>
    </div>
  </section>
  <div class='divider'></div>
  <section id='p3' >
    <div class='max-width'>
      <div class='description'>
        <p>Having come up with an agreement and a basic specification, we divide work into rapidly achievable, measurable chunks.</p>
        <p>By facilitating the feedback loop between the end users, the planning & evaluation commitee, & the development team, we reduce waste that would otherwise go into creating functionality that users would not use or need.</p>
      </div>
      <div class='illustration'>
        <div class='illustrationC'></div>
      </div>
    </div>
  </section>
  <div class='divider'></div>

  <section class='contact-us-2-md' >
    <div class='max-width'>
      <div class='description'>
        <p class='sm' >Ready to make a move? <br />Chat with us about your project:</p>
        <a href="/contact-us/contact-us-step1"><button class="button-91" role="button">Schedule a call</button></a>
      </div>
      <div class='illustration'></div>
    </div>
  </section>
  <div class='divider'></div>



  <div class='spacer-200'></div>
</article>
