<article class='contact-us-4-step1 maxwidth'>
  <div class='contact-us-4-C'>

    <p class='center' >Please chose from one of the methods below.</p>

    <div class='row justify-content-md-center' >
      <div class='col-md-6'>
        <div class='item'>
          <p>You can fill out the project intake form, which is our preferred method of contact:</p>
          <a href="/contact-us/project-intake">
            <button class="button-91" role="button">Project Intake Form</button>
          </a>
        </div>
      </div>
    </div>
    <div class='row justify-content-md-center' >
      <div class='col-md-6 '>
        <div class='item'>
          <p>You can use our preferred method of contact and book a priority call:</p>
          <a href="https://tidycal.com/wasya-co/30min">
            <button class="button-91" role="button">Book a priority call</button>
          </a>
        </div>
      </div>
    </div>
    <div class='row justify-content-md-center' >
      <div class='col-md-6 '>
        <div class='item'>
          <p>Or, you can book a basic call, bearing in mind that it does not come with an SLA:</p>
          <a href="https://calendly.com/piousbox" target="_blank" style="padding: 13px 25px; border: 1px solid black; border-radius: 15px" >Book a basic call</a>
        </div>
      </div>
    </div>

  </div>
</article>
