/**
 * @file
 * Visual styles for nodes.
**/
.node__links {
  clear: both; }

.node--unpublished {
  background-color: #fff4f4; }

.node-sketch-teaser {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1em; }
  .node-sketch-teaser h2 {
    font-size: 1em;
    text-align: center; }

.sketches-gallery .view-content {
  display: flex;
  justify-content: space-around; }
