
.spacer {
  background: #f9f9f9;
}

body.issue-202302 {
  background: #fff;;
}


article#a20230212feb23issue,
article#a2023q3issue {

  section {
    .header {
      text-align: center;
      // margin-bottom: 2em;

      .title {
        font-family: 'Lobster', cursive;
      }
    }
  }


  section.our-clients {
    border-top: 1px solid #00a3cc;
  }
}

