
.site-header {
  max-width: var(--responsive--alignwide-width);
  margin: auto;

  display: flex;
  align-items: center;

  .site-branding {
    margin-right: 1em;
  }
}

.site-title {
  color: var(--branding--color-link);
  letter-spacing: normal;
  text-transform: var(--branding--title--text-transform);
  line-height: var(--global--line-height-heading);
  margin-bottom: calc(var(--global--spacing-vertical) / 6);

  a {
    color: currentColor;
    font-weight: var(--branding--title--font-weight);
  }
}

.site-title a:link,
.site-title a:visited,
.site-title a:active {
  color: currentColor;
}

.site-title a:hover,
.site-title a:focus {
  color: var(--branding--color-link-hover);
}
@media only screen and (min-width: 482px) {

  .site-title {
    font-size: var(--branding--title--font-size);
  }
}

.site-description {
  color: currentColor;
  font-size: var(--branding--description--font-size);
  line-height: 1.4;
}

.site-title > a {
  text-decoration-color: var(--global--color-secondary);
}

.site-logo {
  margin: calc(var(--global--spacing-vertical) / 2) 0;
  z-index: 3;
}

.site-header > .site-logo {
  width: 100%;
  padding-bottom: calc(var(--global--spacing-vertical) * 1.5);
  border-bottom: 1px solid;
  text-align: center;
}

.site-logo .custom-logo {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--branding--logo--max-width-mobile);
  max-height: var(--branding--logo--max-height-mobile);
  height: auto;
  display: inline-block;
  width: auto;
}
@media only screen and (min-width: 482px) {

  .site-logo .custom-logo {
    max-width: var(--branding--logo--max-width);
    max-height: var(--branding--logo--max-height);
    height: auto;
    width: auto;
  }
}


/**
 * Desktop first, mobile second. The styling is for desktop, overwritten for mobile.
**/

#masthead-mobile svg { /* @TODO: nothing mobile about it */
  fill: white;
}
#masthead-mobile.wco-sticky-header svg {  /* @TODO: nothing mobile about it */
  fill: black;
}


.menu-button-container {
  display: none;
  justify-content: space-between;
  position: absolute;
  right: 0;
  padding-top: calc(0.5 * var(--global--spacing-vertical));
  padding-bottom: calc(0.25 * var(--global--spacing-vertical));

  #primary-mobile-menu {
    display: flex;
    margin-left: auto;
    padding: calc(var(--button--padding-vertical) - 0.25 * var(--global--spacing-unit)) calc(0.5 * var(--button--padding-horizontal));
    font-size: var(--primary-nav--font-size-button);
    font-weight: var(--primary-nav--font-weight-button);
    background-color: transparent;
    border: none;
    color: var(--wco-dol-link-color);
  }
}


.menu-button-container #primary-mobile-menu .dropdown-icon {
  display: flex;
  align-items: center;
}

.menu-button-container #primary-mobile-menu .dropdown-icon .svg-icon {
  margin-left: calc(0.25 * var(--global--spacing-unit));
}

.menu-button-container #primary-mobile-menu .dropdown-icon.open .svg-icon {
  position: relative;
  top: -1px;
}

.menu-button-container #primary-mobile-menu .dropdown-icon.close {
  display: none;
}

.menu-button-container #primary-mobile-menu[aria-expanded=true] .dropdown-icon.open {
  display: none;
}

.menu-button-container #primary-mobile-menu[aria-expanded=true] .dropdown-icon.close {
  display: flex;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.has-logo.has-title-and-tagline .menu-button-container #primary-mobile-menu[aria-expanded*=true] .dropdown-icon.close {
  animation-name: twentytwentyone-close-button-transition;
  animation-duration: 0.3s;
}


.primary-navigation {
  position: absolute;
  color: white;
  top: var(--global--admin-bar--height);
  right: 0;
  font-size: var(--primary-nav--font-size);
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 0;

  > .primary-menu-container {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: calc(var(--button--line-height) * var(--primary-nav--font-size-button) + 42px + 5px);
    padding-left: var(--global--spacing-unit);
    padding-right: var(--global--spacing-unit);
    padding-bottom: var(--global--spacing-horizontal);
    background-color: var(--wco-dark-bg-color);
    transform: translateY(var(--global--spacing-vertical));
  }

  .sub-menu-toggle {
    display: flex;
    height: calc(2 * var(--primary-nav--padding) + 1.15em + 1px);
    width: 44px;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--wco-dol-link-color);
    border: none;

    .icon-plus,
    .icon-minus {
      height: 100%;
      display: flex;
      align-items: center;

      svg {
        margin-top: -4px;
      }
    }
  }
}

.primary-navigation-open .menu-button-container {
  width: 100%;
  z-index: 500;
  background-color: var(--wco-dark-bg-color);

  #primary-mobile-menu {
    position: static;
  }
}

.primary-navigation > div > .menu-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  max-width: none;
  padding-left: 0;
  position: relative;

  li {
    display: block;
    position: relative;
    width: 100%;
  }

  .sub-menu-toggle:focus {
    outline: 2px solid var(--wp--style--color--link, var(--global--color-primary));
  }

  .sub-menu-toggle .icon-minus {
    display: none;
  }

  .sub-menu-toggle[aria-expanded=true] .icon-minus {
    display: flex;
  }

  .sub-menu-toggle[aria-expanded=true] .icon-plus {
    display: none;
  }
}

.primary-navigation .sub-menu .menu-item > a {
  padding: calc(1.25 * var(--primary-nav--padding)) var(--primary-nav--padding);
  display: block;
}


.primary-navigation .primary-menu > .menu-item:hover > a {
  color: var(--primary-nav--color-link-hover);
}

.primary-navigation .menu-item-has-children > .svg-icon {
  display: none;
}

.primary-navigation a {
  display: block;
  padding: var(--primary-nav--padding) 0;
  text-decoration: none;
  color: var(--wco-dol-link-color);
  background: var(--wco-lod-link-bg);
}

.primary-navigation a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.primary-navigation .sub-menu {
  // border: 1px solid var(--primary-nav--border-color);
  border: var(--wco-dark-border);

  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: var(--primary-nav--padding);
}

.primary-navigation .sub-menu .sub-menu {
  border: none;
}

.primary-navigation-open .primary-navigation > .primary-menu-container {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);

  background: white;
}

.primary-navigation .menu-item-description {
  display: block;
  clear: both;
  font-size: var(--global--font-size-xs);
  text-transform: none;
  line-height: 1.7;

  > span {
    display: inline-block;
  }
}

/* Desktop */
@media only screen and (min-width: 852px) {
  .primary-navigation {
    position: relative;
    margin-left: auto;

    > div > .menu-wrapper li {
      margin: 0;
      width: inherit;

      &:last-child {
        // border: 5px solid red;
        margin-right: 0;
      }
    }

    #toggle-menu {
      display: none;
    }

    > .primary-menu-container {
      visibility: visible;
      opacity: 1;
      position: relative;
      padding: 0;
      background-color: transparent;
      overflow: initial;
      transform: none;
    }
  }

  .primary-navigation > div > .menu-wrapper > li > .sub-menu {
    left: 0;
    margin: 0;
    min-width: max-content;
    position: absolute;
    top: 100%;
    z-index: 5;
    background: var(--wco-dol-bg-color);
    border: 1px solid var(--wco-dol-link-color);
    border-radius: 5px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      top: -10px;
      left: var(--global--spacing-horizontal);
      border-style: solid;
      border-color: var(--wco-dol-link-color) transparent;
      border-width: 0 7px 10px 7px;
    }

    &:after {
      top: -9px;
      border-color: var(--wco-light-bg-color) transparent;
    }
  }

  .primary-navigation > div > .menu-wrapper > li > .sub-menu.submenu-reposition-left {
    left: 0;
    right: auto;
  }

  .primary-navigation > div > .menu-wrapper > li > .sub-menu.submenu-reposition-left:before,
  .primary-navigation > div > .menu-wrapper > li > .sub-menu.submenu-reposition-left:after {
    left: var(--global--spacing-horizontal);
    right: auto;
  }

  .primary-navigation > div > .menu-wrapper > li > .sub-menu.submenu-reposition-right {
    right: 0;
    left: auto;
  }

  .primary-navigation > div > .menu-wrapper > li > .sub-menu.submenu-reposition-right:before,
  .primary-navigation > div > .menu-wrapper > li > .sub-menu.submenu-reposition-right:after {
    left: auto;
    right: var(--global--spacing-horizontal);
  }

  .primary-navigation .primary-menu-container {
    margin-right: calc(0px - var(--primary-nav--padding));
    margin-left: calc(0px - var(--primary-nav--padding));

    > ul > .menu-item {
      display: flex;

      > a {
        padding-left: var(--primary-nav--padding);
        padding-right: var(--primary-nav--padding);
      }
    }
  }


  /* debug, remove display */
  .primary-navigation > .primary-menu-container ul > li .sub-menu-toggle[aria-expanded=false] ~ ul {
    display: none;
  }
  .primary-navigation .primary-menu-container > ul > .menu-item > a + .sub-menu-toggle {
    margin-left: -20px;
    z-index: -1;
  }

  .primary-navigation .sub-menu > .menu-item > .sub-menu {
    padding: 0;
  }

  .primary-navigation .menu-item-has-children > .svg-icon {
    display: inline-block;
    height: 100%;
  }

  .primary-navigation .menu-item-has-children .sub-menu .svg-icon {
    display: none;
  }
}

/* Mobile */
@media only screen and (max-width: 852px) {
  .menu-button-container {
    display: flex;
  }

  .site-branding {
    margin-right: 0;
    max-width: calc(100% - 160px);
    z-index: 3;
  }

  .site-header.has-logo:not(.has-title-and-tagline).has-menu .site-logo {
    position: absolute;
    padding-top: calc(0.5 * var(--global--spacing-vertical));
    margin-top: 0;
    top: var(--global--admin-bar--height);
  }

  .site-header.has-logo:not(.has-title-and-tagline).has-menu .site-logo img {
    max-height: calc(var(--button--padding-vertical) - 0.25 * var(--global--spacing-unit) + 1.7em);
  }

  .site-header.has-logo.has-title-and-tagline {
    align-items: flex-start;
  }

  .site-header.has-logo.has-title-and-tagline.has-menu {
    justify-content: space-between;
  }

  .site-header.has-logo.has-title-and-tagline.has-menu .site-branding {
    max-width: calc(100% - 160px);
  }

  .site-header.has-logo.has-title-and-tagline .site-branding {
    margin-right: 0;
  }

  body.primary-navigation-open {
    overflow: hidden;

    .primary-navigation {
      width: 100%;
      position: fixed;
      z-index: 2;

      > .primary-menu-container {
        transform: translateX(0) translateY(0);
      }
    }
  }
  body:not(.primary-navigation-open) {
    overflow: auto;
    .menu-button-container {
      position: relative;
      padding-top: 0;
      margin-top: calc(0px - var(--button--padding-vertical) + 0.25 * var(--global--spacing-unit));
    }
    .primary-navigation {
      position: relative;
      top: 0;
    }
  }

  .primary-navigation {
    > .menu-wrapper {
      // border: 1px solid red;

      padding-bottom: 100px;

      ul {
        padding-left: 0;
      }

      .sub-menu-toggle {
        display: none;
      }
    }
    > .primary-menu-container {
      height: 100vh;
      z-index: 499;
      overflow-x: hidden;
      overflow-y: auto;
      border: 2px solid transparent;
      position: fixed;
      transform: translateY(0) translateX(100%);
    }
    > .primary-menu-container:focus {
      border: 2px solid var(--global--color-primary);
    }
  }

}


/**
 * Top Level Wrappers (header, main)
 * - Set vertical padding and horizontal margins
 */
 .widget-area {
  padding-top: var(--global--spacing-vertical);
  padding-bottom: var(--global--spacing-vertical);
  margin-left: auto;
  margin-right: auto;


  section.widget_nav_menu {
    ul {

      li {
        background: linear-gradient(90deg, rgba(255,255,255, .9) 50%, rgba(255,255,255, 0));
        list-style: none;
        margin-bottom: 3px;

        a {
          padding: 5px;

          display: block;
          width: 100%;
          text-decoration: none;
          color: var(--wco-light-text-color);
          padding-left: 20px;
          position: relative;

          &::before {
            content: "";
            display: block;
            position: absolute;
            height: 0;
            top: calc( 50% - 7px );
            left: 5px;
            border-style: solid;
            border-color: transparent var(--wco-light-text-color);
            border-width: 7px 0 10px 7px;
          }

        }
      }
    }
  }

}

.site-header-wrapper {
  // border: 1px solid red;
  background: var(--wco-dol-bg-color);

  border-bottom: var(--wco-dark-border);
  position: absolute;
  width: 100%;
  z-index: 3;
}
@media only screen and (max-width: 482px) {
  .site-header-wrapper {
    height: 65px;
  }
}




/*
 * Sticky, stuck header
**/
@keyframes wco-sticky-header {
  from {
    margin-top: -50px;
    background: none;
  }
  to {
    margin-top: 0;
    background: var(--wco-light-bg-color);
  }
}
@keyframes wco-sticky-header-logo {
  from {
    max-width: 300px;
  }
  to {
    max-width: 180px;
  }
}
.wco-sticky-header {
  position: fixed;
  z-index: 3;
  height: 80px;
  top: 0;

  background: var(--wco-light-bg-color);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);

  animation-name: wco-sticky-header;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;

  a,
  .primary-navigation .sub-menu-toggle {
    color: var(--wco-dol-link-color);
  }

  .primary-navigation > div > .menu-wrapper > li > .sub-menu {
    background: var(--wco-light-bg-color);
  }

  .site-logo img {
    max-width: 180px;

    animation-name: wco-sticky-header-logo;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }

  .menu-button-container #primary-mobile-menu {
    color: var(--wco-lod-link-color);
  }

}


/*
 * Issue Navigator
**/

section.issue-navigator {
  text-align: right;
  font-size: 0.8em;

  h1 {
    font-size: 1em;
  }
  nav {
    ul {
      li {
        display: inline;
        padding-left: .5em;
      }
    }
  }
}

/*
 * Footer navigation
**/

nav.footer-tos {
  display: inline;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;

  ul {
    display: inline;

    li {
      display: inline;
      line-height: 3;

      a {
        padding: calc(1.25 * var(--primary-nav--padding)) var(--primary-nav--padding);
        padding-top: 0;
        padding-bottom: 0;
      }

      a:hover {
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-skip-ink: none;
      }

      .svg-icon {
        vertical-align: middle;
        fill: var(--footer--color-link);
      }
      .svg-icon:hover {
        transform: scale(1.1);
      }

    }
  }

  .sub-menu-toggle,
  .menu-item-description {
    display: none;
  }

}



html[lang='en-US'] a[lang='en-US'],
html[lang='es-CO'] a[lang='es-CO'],
html[lang='pt-BR'] a[lang='pt-BR'],
html[lang='ru-RU'] a[lang='ru-RU'] {
  // border: 2px solid #333333;

  box-sizing: border-box;

  background: rgba(255,255,255, 1);

  // border-bottom: 5px solid white;

}
